<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>P-Alert MVP</title>

  <link rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="page-container">

  <!-- ========================= -->
  <!-- トップ -->
  <!-- ========================= -->
  <div class="top-center">
    <div class="app-title">⛅ P-Alert</div>
    <div class="sub-title">今日の気圧</div>
    <div id="riskBadge" class="risk-pill">---</div>
  </div>

  <!-- ========================= -->
  <!-- カード -->
  <!-- ========================= -->
  <div class="dashboard-card-modern">

    <div class="current-center">
      <div class="label">現在の気圧</div>

      <div class="big-value">
        <span id="currentText">--</span> hPa
      </div>

      <div class="update-time">
        更新：<span id="currentTimeText">--</span>
      </div>
    </div>

    <div id="dangerText"
         class="danger-text"
         style="margin-top:8px;">
    </div>
    <div class="chart-wrapper">
      <canvas id="pressureChart"></canvas>
    </div>

  </div>

  <!-- ========================= -->
  <!-- ボタン -->
  <!-- ========================= -->
  <a href="/health" class="cta-button">
    ✍️ 体調を記録する
  </a>

</div>


<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/pressure.js') }}"></script>

</body>
</html>